<configuration>

  <!-- File Appender -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!-- I recommend writing logs outside of src/ so they don't get packaged into your JAR -->
    <file>logs/tweety_server.log</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <immediateFlush>true</immediateFlush>
  </appender>

  <!-- Root logger -->
  <root level="DEBUG">
    <appender-ref ref="FILE"/>
  </root>

</configuration>
